{% extends "manager/import_data.html" %}

{% block user_name %}Delivery Head{% endblock %}

{% block nav %}
<nav class="global-nav">
    <a href="{{ url_for('delivery_head_dashboard', dh='Jessica Pearson') }}">Enterprise Overview</a>
    <a href="{{ url_for('delivery_head_reports', dh='Jessica Pearson') }}">Reports</a>
    <a href="{{ url_for('delivery_head_import_data') }}" class="active">Data Import</a>
    <a href="{{ url_for('delivery_head_settings', dh='Jessica Pearson') }}">Settings</a>
</nav>
{% endblock %}
