{% extends "manager/import_data.html" %}

{% block user_name %}Delivery Lead{% endblock %}

{% block nav %}
<nav class="global-nav">
    <a href="{{ url_for('delivery_lead_dashboard', dl='Robert Zane') }}">Organization Overview</a>
    <a href="{{ url_for('delivery_lead_reports', dl='Robert Zane') }}">Reports</a>
    <a href="{{ url_for('delivery_lead_import_data') }}" class="active">Data Import</a>
    <a href="{{ url_for('delivery_lead_settings', dl='Robert Zane') }}">Settings</a>
</nav>
{% endblock %}
